@import "../../../omarchy/current/theme/walker.css";

* {
  all: unset;
}

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  color: @text;
}

scrollbar {
  opacity: 0;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

.box-wrapper {
}

.preview-box {
}

.box {
  background: alpha(@base, 0.95);
  padding: 10px;
  border-radius: 17px;
  border: 2px solid @border;
}

.search-container {
  border-radius: 10px;
  border: 2px solid @border;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  box-shadow: inset 0 0 9px @border;
  color: @selected-text;
  caret-color: @text;
  padding: 10px;
}

.input:focus,
.input:active {
  box-shadow: none;
  outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  box-shadow: inset 0 0 9px @border;
  color: @text;
  border-radius: 10px;
  border: 1.5px solid @border;
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
  color: @selected-text;
  transition : all 0.1s ease-in;
}

.item-box {
  padding-left: 14px;
}

.item-text-box {
  all: unset;
  padding: 14px;
}

.item-text {
}

.item-subtext {
  font-size: 0px;
  min-height: 0px;
  margin: 0px;
  padding: 0px;
}

.item-image {
  margin-right: 14px;
  -gtk-icon-transform: scale(0.9);
}

.current {
  font-style: italic;
}

.keybind-hints {
  background: @background;
  padding: 10px;
  margin-top: 10px;
}

.preview {
}
