@import "../omarchy/current/theme/waybar.css";

@define-color hover #d0f0d7;
@define-color selected #dfff00;
@define-color warning #e5c07b;
@define-color critical #e06c75;
@define-color border alpha(@accent, 0.7);
@define-color accent #6bbf7a;
@define-color base-bg #1e2a24;

#battery.charging, 
#battery.plugged {
  color: @accent;
}

#battery.warning:not(.charging) {
  color: @warning;
}

#battery.critical:not(.charging) {
  background-color: @critical;
  color: @background;
  border-radius: 8px;
}

#pulseaudio.muted {
  color: @critical;
}

#network.disconnected {
  color: @critical;
}

tooltip {
  background-color: @background;
  border: 2px solid @foreground;
  border-radius: 8px;
}

tooltip label {
    color: @foreground;
}
* {
  background-color: transparent;
  color: @foreground;
  border: none;
  border-radius: 0;
  min-height: 0;
  padding: 0;
  font-family: 'Symbols Nerd Font';
  font-size: 10px;
  font-weight: 500;
}

.modules-left {
  background-color: @background;
  color: @foreground;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 0 0 13px 0;
  box-shadow: inset 0 0 3px @foreground;
}

.modules-center {
  background-color: @background;
  color: @foreground;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 0 0 13px 13px;
  box-shadow: inset 0 0 3px @foreground;
}

.modules-right {
  background-color: @background;
  color: @foreground;
  border: 1px solid alpha(@foreground, 0.8);
  border-radius: 0 0 0 13px ;
  box-shadow: inset 0 0 3px @foreground;
}

#workspaces button {
  all: initial;
  padding: 0;
  margin: 0;
  border: 0px solid alpha(@foreground, 0.8);
  border-radius: 0 0 7.5px 7.5px;
}

#workspaces button.empty {
  opacity: 0.3;
  border: 0px solid alpha(@foreground, 0.8);
}

#workspaces button.active {
  color: @accent;
  background-color: @background;
  min-width: 20px;
  transition: all 0.3s ease-in-out;
  border: 0px solid alpha(@foreground, 0.8);
  border-bottom-width: 2px;
  box-shadow: inset 0 0 2px @foreground;
}

window#waybar.empty #window {
  background: transparent;
  opacity: 0;
}

#custom-space,
#custom-start,
#custom-end {

}

#custom-menu,
#temperature,
#cpu,
#custom-gpu,
#custom-gpu-temp,
#memory,
#network#speed,
#workspaces button,
#custom-update,
#window,
#mpris,
#network,
#bluetooth,
#pulseaudio,
#custom-ddc_brightness,
#clock,
#custom-screenrecording-indicator,
#custom-expand-icon,
#custom-notification,
#custom-power,
#power-profiles-daemon,
#battery {
  min-width: 7px;
  margin: 2.5px;
  padding: 0;
  padding-right: 2px;
  padding-left: 2px;
}

#custom-update {
  font-size: 10px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
